body {
   width:100%;
   height: 100%;
   padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Login-Page{
  height: 100Vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.container-form{
  display: flex;
  justify-content: center;
  background-color:#F1EEE9;
  width: 600px;
  height: 600px;
  border-style: solid;
  border-radius: 10px;
  border-color:  #FFD57E;
 
}

.input-style{
  padding:10px;
  width: 280px;
  border-radius: 20px;
  box-shadow: 3px 5px #FFEFA0;
  border-color:#FFD57E;
  outline: none;

}

.nav-bar{ 
  justify-content: end;

}
.container-img-navbar{
  background-color: red;
  border-radius: 50%;
  height: 50px;
  
}
.avatar{
  height: 100%;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
